<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Kochedikov\Blog\Api\Data\PostInterface" type="Kochedikov\Blog\Model\Post"/>
    <preference for="Kochedikov\Blog\Api\PostRepositoryInterface" type="Kochedikov\Blog\Service\PostRepository"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="kochedikov_blog_post_listing_data_source" xsi:type="string">Kochedikov\Blog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Kochedikov\Blog\Model\ResourceModel\Post\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">kochedikov_blog_post</argument>
            <argument name="eventPrefix" xsi:type="string">kochedikov_blog_post_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">blog_post_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Kochedikov\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </type>
</config>
